.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.header__image-wrapper {}

.header__image {
  width: 88px;
}

.header__navigation {
  align-items: center;
  display: flex;
}

.header__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 9px;

  &:last-child {
    padding-right: 0;
  }
}

.header__list-item {
  padding: 20px 29px;
}

.header__link {
  color: $color-black;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.header__list-item--icon {
  padding: 20px;
}

.header__list-item--icon {}

