$enable-box-sizing-border-box: true;

$columns: 12;

// https://hugogiraudel.com/2013/07/15/understanding-sass-lists/
$breakpoints: (
  ('480px',  'xs', 'xsmall'),
  ('600px',  's', 'small'),
  ('768px',  'm', 'medium'),
  ('992px',  'l', 'large'),
  ('1280px', 'xl', 'xlarge'),
  ('1440px', 'xxl', 'xxlarge')
);

$space-3xs: 5px;
$space-2xs: 10px;
$space-xs: 15px;
$space-sm: 20px;
$space-md: 30px;
$space-lg: 45px;
$space-xl: 60px;
$space-2xl: 90px;
$space-3xl: 120px;

$color-grey-darker: #4a4a4a;
$color-grey-dark: #888;
$color-grey: #979797;
$color-grey-light: #bbb;
$color-grey-lighter: #eee;

$color-body-text: #222;

$transition-duration: 250ms;
$transition-func: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$transition: $transition-duration $transition-func;

$container: 1440px;

// $named-widths: (
//   1: full,
//   0.5: half,
//   0.333: third,
//   0.25: quarter,
//   0.2: fifth,
//   0.166: sixth,
//   0.125: eighth
// );

// $oo-container-max: var(--size-main-container);
// $oo-base-spacing-size: var(--size-spacing-base);

// $oo-transition-duration: var(--duration-transition);
// $oo-transition-timing: ease-in-out;

// $color-white: var(--color-default-white);
// $color-black: var(--color-default-black);
// $color-gray: var(--color-default-gray);

// $color-1: var(--color-palette-1);
// $color-2: var(--color-palette-2);
// $color-3: var(--color-palette-3);
// $color-4: var(--color-palette-4);
// $color-5: var(--color-palette-5);

// $color-body-text: var(--color-body-text);
// $color-body-background: var(--color-body-background);

// $font-heading: var(--font-heading);
// $font-heading-bold-weight: var(--font-heading-bold-weight);
// $font-primary: var(--font-primary);
// $font-primary-light-weight: var(--font-primary-light-weight);
// $font-primary-bold-weight: var(--font-primary-bold-weight);

// $font-size-base: var(--size-font-base);
// $font-size-minor: var(--size-font-minor);
// $font-size-major: var(--size-font-major);
// $font-size-super: var(--size-font-super);
// $font-line-height: var(--size-line-height-base);
