.collection-sort__container {
  @include mq('large') {
    .edd-root {
      display: none;
    }
  }
}

.collection-sort--mobile {
  @include mq('large') {
    display: none;
  }
}

.collection-sort--desktop {
  display: none;

  @include mq('large') {
    display: flex;
  }

}

.collection-sort__btn {
  margin: 0;
  padding: 5px 10px;
  font-size: 16px;
  color: $color-body-text;
  background-color: $color-grey-lighter;
  border: 1px solid $color-grey-darker;
  transition: background $transition;

  &:hover {
    background-color: $color-grey-light;
  }

  &.is-active {
    color: #fff;
    font-weight: 700;
    background-color: $color-grey-dark;
  }
}