.collection-filters {
  display: none;
  flex-direction: column;
  flex: 1;
  width: 25%;
  background-color: #eee;

  @include mq('large') {
    display: flex;
  }
}

.collection-filters__title {
  font-size: 20px;
}
