.pagination {
  max-width: 320px;
  margin: 15px auto 0;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  font-size: 16px;
  color: $color-body-text;

  a,
  .page.current,
  .next a,
  .prev a {
    color:$color-grey-darker;
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .page.current {
    color: $color-body-text;
    font-weight: 700;
  }
}