.form__select-wrapper {
  margin-bottom: 50px;
  position: relative;

  &::after {
    content: '';
    border-bottom: 2px solid $color-black;
    border-right: 2px solid $color-black;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    z-index: 2;
  }
}

.form__select {
  appearance: none;
  background-color: $color-white;
  border: 1px solid #0b0036;
  border-radius: 3px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  line-height: 24px;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}