{% comment %}product{% endcomment %}
<h1>Product Template</h1>

{{ product | json }}

<div>
  <button id="add-to-cart">Add to cart</button>
  <br>
  <button id="add-to-cart-2">Add to cart</button>
</div>
