<div
  class="collection-filter"
  data-collection-filter-container
>
  {% assign label = filter | downcase %}
  {% assign string = 'filter-' | append: label %}
  {% assign string = string | append: '-' %}
  {% assign length = string.size %}

  <ul class="collection-filter__list">
    {% for tag in collection.all_tags %}
      {% if tag contains string %}
        {% assign tag_length = tag.size %}

        <li class="collection-filter__item">
          <a
            href="/collections/{{ collection.handle }}/{{ tag }}"
            class="collection-filter__item-link"
          >
            {{ tag | slice: length, tag_length }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
