<nav class="collection-sort">
  <select
    class="collection-sort__select"
    data-collection-sort
  >
    <option value="manual">Sort</option>
    <option value="price-ascending">$</option>
    <option value="price-descending">$$$</option>
    <option value="created-descending">Newest</option>
    <option value="best-selling">Popular</option>
  </select>
</nav>
