<div class="collection-filter">
  <h4 class="collection-filter__title">
    Color
  </h4>

  <ul class="collection-filter__list collection-filter__list--color">
    {% for tag in collection.all_tags %}
      {% if tag contains 'filter-color-' %}
        {% assign tag_length = tag.size %}

        <li class="collection-filter__item">
          <a href="/collections/{{ collection.handle }}/{{ tag }}">
            <div
              class="collection-filter__swatch"
              style="background-color: {{ tag | slice: 13, tag_length }}"
            >
            </div>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
