<div class="collection-cards">
  <h2>Collection cards</h2>

  {% include 'collection-card' %}
  {% include 'collection-card' %}
  {% include 'collection-card' %}
  {% include 'collection-card' %}
</div>