<div class="collection-cards">
  {% if collection.products %}
    <h2 class="collection-cards__title">
      {{ collection.title }}

      (<span class="collection-cards__title-count">{{ collection.all_products_count }}</span>)

      <button class="collection-cards__filter-toggle" data-filter-toggle>
        {% include 'icon-filters' %}
      </button>
    </h2>

    {% include 'collection-sort' %}

    <p class="collection-cards__description">
      {{ collection.description }}
    </p>
  {% endif %}

  <div class="collection-cards__container">
    {% for product in collection.products %}
      {% include 'collection-card' %}
    {% endfor %}
  </div>
</div>