<section class="footer-form">
  <h3 class="footer-form__title">
    Sign Up For Exclusive Discounts
  </h3>
  
  <form class="footer-form__form">
    <input
      type="email"
      placeholder="Enter your email address"
      class="footer-form__input"
    /> 
  </form>
</section>