<ul class="footer-nav-list">
  {% for link in linklists[nav].links %}

  <li class="footer-nav-list__item">
    <a
      href="{{ link.url }}"
      title="{{ link.title }}"
      class="footer-nav-list__link"
    >
      {{ link.title }}
    </a>
  </li>

  {% endfor %}
</ul>