<nav
  class="header-nav-list__container"
  data-header-nav-list-container
>
  <div class="header-nav-list__logo">
    {% include 'header-logo' %}
  </div>

  {% include 'header-nav' %}
  {% include 'header-search' %}
  {% include 'header-cart-button' %}
</nav>