<section
  class="inline-cart__container"
  data-inline-cart
>
  <div class="inline-cart__header">
    REVIEW YOUR CART
    <button
      class="inline-cart__btn"
      data-inline-cart-close
    >
      {% include 'icon-plus' %}
    </button>
  </div>

  <div class="inline-cart__content-container">
    <div
      class="inline-cart__content"
      data-cart-contents
    ></div>
  </div>
</section>
