{% if settings.enable_promobar != blank %}
  <div class="promobar">
    <div class="promobar__text">
      {{ settings.promobar_text }}
    </div>
  </div>
{% endif %}

<style>
  .promobar {
    background-color: {{ settings.promobar_background_color }};
  }

  .promobar__text {
    color: {{ settings.promobar_color }};
  }
</style>