@charset "UTF-8";

// Uncomment to include normalize.css
// @import '~normalize.css/normalize';

// Vendors
@import "vendor/slick/slick.scss";
@import "vendor/slick/slick-theme.scss";

// Helpers
@import 'helpers/index';

// Base
@import 'base/index';

// Components
@import 'components/container';

// Sections
@import 'components/header';
@import 'components/instagram';
@import 'components/footer';
@import 'components/cart';
@import 'components/inline-cart';

// Shame
// @import 'base/shame';
